<!DOCTYPE html>
<html>
<head lang="en">
<title>{{ site.title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
<link href="{{ template_uri }}/css/style.css" rel="stylesheet" media="screen">
{{ wp_head }}
</head>
<body class="{{ body_class }}">

  <nav class="navbar navbar-default navbar-static-top">
    <ul class="nav navbar-nav">
      {% for item in main_menu.get_items %}
        <li class="{% if 'current-page-ancestor' in item.classes or 'current-menu-item' in item.classes %}active{% endif %} {{ item.children ? 'dropdown' : '' }}">
          <a href="{{ item.url }}" {{ item.children ? 'class="dropdown-toggle" data-toggle="dropdown"' : '' }}>{{item.title}} {{ item.children ? '<b class="caret"></b>' : '' }}</a>
          {% if item.children %}
            <ul class="dropdown-menu">
              {% for child in item.children %}
                <li><a href="{{ child.url }}">{{ child.title }}</a></li>
                {{ not loop.last ? '<li role="presentation" class="divider"></li>' : '' }}
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </nav>

{% block content %}

{% endblock %}

{{ wp_footer }}
</body>
</html>